<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            width: 271px;
            height: 696px;
        }
        img {
            width:200px
        }
    </style>
</head>

<body>
    <div>
        SKU
    </div>
    <div>
        <img src="{{sku_url}}" />
    </div>
    <div>
        {{product_sku}}
    </div>
    <div style="border-top:solid 1px black;width:100%;">
    </div>
    <div>
        {{product_name}}
    </div>
    <div style="height:120px;width:100%;">
    </div>
    <div>
        LOT/SN
    </div>
    <div>
        <img src="{{serialno_url}}" />
    </div>
    <div>
        {{serialno}}
    </div>
</body>